
/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

/* Destaques */
.destaques {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 48%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.card img {
    max-width: 100%;
    height: auto;
}

/* NotÃ­cias e PromoÃ§Ãĩes */
.noticias, .promocoes {
    margin-top: 30px;
}

.noticia, .promocao {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}

.noticia img, .promocao img {
    max-width: 100%;
    height: auto;
}

/* Carrinho de Compras */
.carrinho {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#total-carrinho {
    font-weight: bold;
}

/* RodapÃĐ */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* BotÃĢo Adicionar ao Carrinho */
button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e68500;
}







/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}




main.news {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

.promotion, .updates {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.promo-item, .update-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.promo-item img, .update-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* ... (seus estilos existentes) */

/* Estilos para o Banner Promocional */
.banner {
    text-align: center;
    background-color: #ff9900;
    padding: 10px 0;
}

.banner img {
    max-width: 100%;
    height: auto;
}